.icard{
    background-color: darkolivegreen;
    color: white;
}

.text{
    
    text-align: center;
    font-size: 70%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

